.logo_frizer {
    background-image: url(/img/Power_Logo.jpg);
    width: 50px;
    height: 50px;
    margin-left: 260px;
    
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background-color: transparent;
    color: darkgoldenrod;
}

.navbar-inverse .navbar-brand {
    color: darkgoldenrod;
    font-family: sans-serif;
    text-shadow: 
    1px 1px 0 white,
    2px 2px 0 red;    
}

h4 {
    
    text-align: center;   
}

body {
    
    background-image: url(img/zena.jpg);
    background-size:cover;

    
}

.barva {
    background-color: rgba(33, 56, 56, 0.88); 
    border: 2px solid rgba(20, 39, 39, 0.88);
    border-radius: 5px;
    
}


h2 {
    
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:cornflowerblue;
}

h1 {
    
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:cornflowerblue;
    
}


.caption strong {
    
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
}

.caption li {
    text-align: center;   
}

textarea {
    resize: none;
        
}

textarea.form-control {
    padding-bottom: 0;
}

strong {
    color: black;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
}

.table {
    background-color:#3f6969;
    overflow:hidden;
    border-radius: 5px;
    
    
}

.table th {
    
    text-align: center;
    color: black;
}
    
.table td {
    
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 16px;
}
    
.checkbox {
    
    color: white;
    font-family: cursive;
    font-size: 16px;
    
}

h3 {
    
    font-family: cursive;
    font-size: 25px;
    color:darkgoldenrod;
}

.vprasalnik {
    
    text-align: center;
}

.h3_noga {
    color: black;
    padding: 5px;
    margin: 0 0 5px 0;

}

.noga_pisava p {
    
    font-family: cursive;
    font-size: 15px;
    color:darkgoldenrod;  
}

.noga_pisava p a {
    
    font-family: cursive;
    font-size: 15px;
    color:darkgoldenrod;  
}

.form-horizontal  {
    padding-left: 15px;
    padding-right: 15px;
}    

